<library path="src">
  <class name="CreateDashboard" type="bobby_dashboard.dashboard.BobbyDashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      Dashboard for the Bobby
    </description>
    <qtgui>
      <label>Bobby Dashboard</label>
      <statustip>Test robot_dashboard.</statustip>
    </qtgui>
  </class>
</library>
